*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background: #f9f9f9;
    overflow-x:hidden;
    min-height: 100vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.home{
    position: relative;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #333;
    
}

.home h2{
    position: absolute;
    text-align: center;
    font-size: 5em;
    color: #ee6814;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    user-select: none; 
}

.door1{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 0;
    border-right: 50vh solid transparent;
    border-top: 15vh solid transparent;
    border-left: 35vh solid #f0ad4e;
    border-bottom: 20vh solid #f0ad4e;
    
}
.door2{
    position: absolute;
    bottom: 0;
    right: 0;

    width: 0;
    height: 0;
    border-right: 50vh solid #f0ad4e;
    border-top: 20vh solid transparent;
    border-left: 35vh solid transparent;
    border-bottom: 15vh solid #f0ad4e;
    
}

.navigation a{
    top: 0;
    text-decoration:none;
    font-size: 1.6em;
    color: #fff;
    font-weight: 650 ;
    padding: 5px 12px;
    margin: 0 10px;
    border-radius: 20px;
    user-select: none; 
}

.navigation a:hover{
    background-color: #fff;
    color: #111;
}


.About{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}


.conteiner1{

    position: absolute;
    background-color: #666;
    left: 0;
    width: 50%;
    height: 100%;
}

.conteiner2{

    position: absolute;
    background-color: #999;
    right: 0;
    width: 50%;
    height: 100%;
}